#MySQL数据库配置
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=mangrove_db

#InfluxDB时序数据库配置
INFLUXDB_URL=http://localhost:8181
INFLUXDB_TOKEN=
INFLUXDB_ORG=mangrove_org
INFLUXDB_BUCKET=water_quality

#MQTT配置
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC=mangrove/water/+
MQTT_CLIENT_ID=mangrove_backend_xx
